{% extends 'MainApp/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block document-body %}
    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 cold-lg-9 col-xl-10">
                <p class="lead">Данное веб-приложение предназначено для хранения своих воспоминаний и впечатлений
                   о посещенных местах. Для работы с приложением, пожалуйста, аутентифицируйтесь с помощью
                   Facebook.
                </p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 cold-lg-3 col-xl-2">
                <a href="#"><button class="btn btn-success btn-lg" type="button">Войти с помощью Facebook</button></a>
            </div>
        </div>
    </div>
{% endblock %}