{% extends 'MainApp/layout.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}Главная страница{% endblock %}

{% block document-body %}
    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 cold-lg-9 col-xl-10">
                <p class="lead">Данное веб-приложение предназначено для хранения своих воспоминаний и впечатлений
                   о посещенных местах. Для работы с приложением, пожалуйста, аутентифицируйтесь с помощью
                   Facebook или ВКонтакте.
                </p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 cold-lg-3 col-xl-2">
                <a type="button" href="{% provider_login_url 'vk' method='js_sdk' %}" class="btn btn-success btn-lg">
                    Войти с помощью Вконтакте
                </a>
            </div>
        </div>
    </div>
{% endblock %}