{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    <link rel="stylesheet" href="{% static 'MainApp/css/main.css' %}">
</head>
<body>
<!--Шапка-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid hat">
            <a href="#" class="navbar-brand"><img src="{% static 'MainApp/img/smile.png' %}"> TestCase</a>

            {% if request.user.is_authenticated %}
            <div>
                Здравствуйте, {{ request.user.username }}!
            </div>
            {% endif %}

        </div>
    </nav>
    <main>
        {% block document-body %}
        {% endblock %}
    </main>

</body>
</html>